*{
  box-sizing: border-box;
}
body{
  background:linear-gradient(rgb(245, 245, 245));
    overflow-x: hidden;
}
.body{
  background:linear-gradient(rgb(245, 245, 245));
  overflow-x: hidden;
}
.container-sm.ok{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-body.ok{
  text-align: center;
  color: #000;
  height: 80%;
  border-radius: 12px;
}
.cards-wraper{
  max-width: 500px;
}
.card-link.ok{
  display: inline-block;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  padding: 12px 0;
  border-radius: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;

  &:hover{
    background-color: #3559dc;
    .card-body.ok{
      color: #fff;
    }
  }
}
.card.ok{
  border-radius: 11px;
}

.card-link.ok {
  text-decoration: none;
}

.row.ok {
  margin-top: 3%;
  padding-left: 5%;
}

.header {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container {
  width: 15%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.container .arrow-lef {
  margin-left: 52%;
}

h1 {
  margin-top: 2%;
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1b1818;
}

.container-sm.ok {
  margin-top: 5%;
  margin-bottom: 0;
}

.inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.about-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 11%;
}

.hos {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn.btn-success.ok, .btn.btn-danger.ok {
  cursor: not-allowed;
  border-color: none;
}

.btn.btn-primary.ok {
  margin-left: 10%;
  margin-top: 3%;
  padding-top: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  width: 66px;
  height: 30px;
  background-color: #387FD1;
  border-radius: 5px;
}

.card.ok.no {
  width: 12%;
  height: 5%;
  color: black;
  border-radius: 5px;
}

.card.ok {
  border: none;
}

.card-body.ok.no {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 15px;
}

.ok-no {
  background: #F9F9F9;
}

.host {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
}

.card.ok.no {
  font-size: 14px;
  border: none;
  border-radius: 15px;
}

.card-title.ok.no {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body.ok.no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-body.ok {
  margin-bottom: 0;
  margin-top: 0;
}

.btn.btn-light.ok {
  color: #3559dc;
  background: inherit;
  border: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10%;
}
.primary-btn.true.fale{
  background-color: rgb(189, 20, 20);
}
.btn.btn-light.ok:hover {
  background-color: inherit;
}
.btn.btn-light.ok{
  padding-right: 15px;
}
.primary-btn.true{
  margin-top: 0;
  padding-top: 0;
  margin-right: 10px;
  background: rgb(0, 209, 31);
}
.btn.btn-success.ok, .btn.btn-danger.ok {
  border-radius: 10px;
  padding-top: 2px;
  height: 30px;
}

.button-36 {
  width: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(92.88deg, #3559dc 9.16%, #422dc9 43.89%, #5d34cd 64.72%);
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.button-36:hover {
  -webkit-box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
          box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}
.link-fut{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #1b1818;
  font-size: 20px;
}
.link-fut:hover{
  transition: 0.5s;
  color: #3559dc;
}
@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

@media (min-width: 300px) {
  .button-36 {
    width: 25%;
  }
}
.primary-btn{
  width: 50px;
  height: 25px;
  background: #3559dc;
  color: #F9F9F9;
  border-radius: 10px;
  text-align: center;
  padding-top: 7px;
  padding-left: 1px;
}
.card.ok.no{
  margin-bottom: 1%;
}


  
